body {
  font-family: arial;
  margin:0;
}
ul {
  padding: 0;
  margin: 0;
}
li {
  padding: 0;
  margin: 0;
  list-style-type: none;
}
#menu {
  width:100%;
  float:left;
  height:auto;
  background-color:#eeeeee;
}

#menu ul li:hover ul {
  display: block;
}

#menu li {
  height: 20px;
  padding: 10px 20px;
  text-align: center;
  float:left;
}

#menu ul li {
  float: left;
  position:relative;
  width:auto;
  cursor:pointer;
}
#menu ul li ul {
  display: none;
  position: absolute;
  left:0;
  top:40px;
  float: left;
  background:#222222;
}
#menu ul li ul li {
  text-align:left;
  display: block;
  float:left;
  width:100%;
  height:auto;
  white-space: nowrap;
  box-sizing: border-box;
  border-bottom:solid 3px #101010;
}
#menu ul li ul li:hover{
  background: #303030;
}

#menu a {
  color:white !important;
  text-decoration:none;
}
